footer.footer 
    .container 
        .footer__block 
            .footer__box 
                img.footer__logo(src="./images/logo.png", alt="logo")
                a(href="tel:+88006001869").footer__contact 8(800)600-18-69
                a(href="mailto:info@cargoasia.info").footer__contact info@cargoasia.info
                p.footer__address Адрес в Китае:
                p.footer__address-info 浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379
                .footer__social 
                    .footer__insta 
                        i.fab
                    .footer__facebook 
                        i.fab
                    .footer__telegram
                        i.fab
            .footer__box 
                h4.footer__title Грузоперевозки
                ul.footer__list 
                    li.footer__item 
                        a.footer__link Цены и сроки
                    li.footer__item 
                        a.footer__link Услуги
                    li.footer__item 
                        a.footer__link О компании
                    li.footer__item 
                        a.footer__link Контакты
                    li.footer__item 
                        a.footer__link Оформить груз
            .footer__box 
                h4.footer__title Услуги
                ul.footer__list 
                    li.footer__item 
                        a.footer__link Выкуп товара
                    li.footer__item 
                        a.footer__link Страховка груза
                    li.footer__item 
                        a.footer__link Аренда склада
                    li.footer__item 
                        a.footer__link Перевод денежных средств
            .footer__box 
                h4.footer__title Информация
                ul.footer__list 
                    li.footer__item 
                        a.footer__link Отзывы
                    li.footer__item 
                        a.footer__link Требования к грузу
                    li.footer__item 
                        a.footer__link Аренда склада
                    li.footer__item 
                        a.footer__link Договор-оферта
                    li.footer__item 
                        a.footer__link Как заключить договор
                    li.footer__item 
                        a.footer__link Способы оплаты услуг
                    li.footer__item 
                        a.footer__link Статьи

                        







                        




