section.accardion 
    h2.section__title Часто задаваемые вопросы
    .container 
        .accardion__block 
            .accardion__box 
                .accardion__head 
                    h4.far.accardion__title Как рассчитывается стоимость доставки?
                .accardion__body 
                    p.accardion__text Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в рублях на наш счет в России.
            .accardion__box 
                .accardion__head 
                    h4.far.accardion__title Как происходит оплата за доставку груза?
                .accardion__body 
                    p.accardion__text Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в рублях на наш счет в России.
            .accardion__box 
                .accardion__head 
                    h4.far.accardion__title Как быстро оформить заказ на доставку из Китая в Россию?
                .accardion__body 
                    p.accardion__text Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в рублях на наш счет в России.
            .accardion__box.active
                .accardion__head 
                    h4.far.accardion__title Можно ли через вас оплатить товар поставщику?
                .accardion__body 
                    p.accardion__text Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в рублях на наш счет в России.
            .accardion__box 
                .accardion__head 
                    h4.far.accardion__title В чём особенность КАРГО доставки из Китая
                .accardion__body 
                    p.accardion__text Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в рублях на наш счет в России.
            .accardion__box 
                .accardion__head 
                    h4.far.accardion__title Какой срок доставки из Китая?
                .accardion__body 
                    p.accardion__text Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в рублях на наш счет в России.
        .accardion__question 
            h3.accardion__question-title Остались вопросы?
            p.accardion__question-text Оставьте заявку и наш менеджер ответит вам в ближайшее время
            input.accardion__input(type="text" placeholder="Имя *")
            input.accardion__input(type="text" placeholder="Телефон *")
            input.accardion__input(type="text" placeholder="E-mail")
            textarea(rows="3" placeholder="Ваш вопрос").accardion__area
            button.accardion__btn 
                span Отправить запрос
                i.far 