section.choose 
    .container 
        h2.section__title Почему стоит выбрать именно нас?
        .choose-content 
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Таможенное оформление груза
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Страховка груза
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Проверка товара на брак
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Доставка в любой город РФ
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Консолидация на складе
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Ответственное хранение груза
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Помощь в оплате товара
            .choose__box 
                .choose__icon 
                    i.far 
                p.choose__text Упаковка, переупаковка, паллетирование груза к международной перевозке
