section.service 
    h2.section__title Услуги
    .service__slider 
        button.service__left 
            i.far
        .container.service__block 
            .service__box 
                img.service__img(src="./images/service1.jpg", alt="")
                .service__info 
                    h3.service__title Выкуп товара
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service2.jpg", alt="")
                .service__info 
                    h3.service__title Страховка груза
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service3.jpg", alt="")
                .service__info 
                    h3.service__title Аренда склада
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service2.jpg", alt="")
                .service__info 
                    h3.service__title Страховка груза
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service1.jpg", alt="")
                .service__info 
                    h3.service__title Выкуп товара
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service2.jpg", alt="")
                .service__info 
                    h3.service__title Страховка груза
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service3.jpg", alt="")
                .service__info 
                    h3.service__title Аренда склада
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service1.jpg", alt="")
                .service__info 
                    h3.service__title Выкуп товара
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service3.jpg", alt="")
                .service__info 
                    h3.service__title Аренда склада
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service2.jpg", alt="")
                .service__info 
                    h3.service__title Страховка груза
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service3.jpg", alt="")
                .service__info 
                    h3.service__title Аренда склада
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service1.jpg", alt="")
                .service__info 
                    h3.service__title Выкуп товара
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service1.jpg", alt="")
                .service__info 
                    h3.service__title Выкуп товара
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service2.jpg", alt="")
                .service__info 
                    h3.service__title Страховка груза
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
            .service__box 
                img.service__img(src="./images/service3.jpg", alt="")
                .service__info 
                    h3.service__title Аренда склада
                    p.service__text Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. 
                    a.service__link Подробнее
        button.service__right
            i.far