section.slider 
    .slider__inner 
        .slider__item.active
            img.slider__img(src="./images/slider1.jpg", alt="")
            .slider__info
                .container 
                    h1.slider__title Прямое КАРГО из Китая
                    p.slider__text Доставляем любые грузы из Китая по честной цене
                    button.slider__btn 
                        span Рассчитать стоимость
                        i.far 
        .slider__item
            img.slider__img(src="./images/slider2.jpg", alt="")
            .slider__info
                .container 
                    h1.slider__title Гарантируем сроки!
                    p.slider__text Если мы не уложимся в обозначенные сроки, доставка груза со скидкой до 90%
                    button.slider__btn 
                        span Рассчитать стоимость
                        i.far 
        .slider__item
            img.slider__img(src="./images/slider3.jpg", alt="")
            .slider__info
                .container 
                    h1.slider__title Выкуп товара с ТаоБао, 1688
                    p.slider__text Выкуп и доставка товаров с китайских торговых площадок. 
                    button.slider__btn 
                        span Рассчитать стоимость
                        i.far 
        .slider__item
            img.slider__img(src="./images/slider4.jpg", alt="")
            .slider__info
                .container 
                    h1.slider__title Экспресс авто доставка
                    p.slider__text Доставка автотранспортом из Китая в Россию от 15 дней, от $0,5/кг
                    button.slider__btn 
                        span Рассчитать стоимость
                        i.far 
    button.slider__left(data-target="prev")
        i.far
    button.slider__right(data-target="next")
        i.far